body {
    background-color: #e5e5e5;
}
#navbarCollapse {
    position: absolute;
    width: 70px;
    height: 902px;
    left: 0%;
    right: 75.86%;
    top: 0%;
    bottom: 0%;
    background: #0D28A6;
}
#topCornerLogo {
    width: 34px;
    position: absolute;
    height: 34px;
    background-color: #cfd4ed;
    top: 18px;
    left: 18px;
}
#homeDashboard {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 64px;

}
img[alt="homeDashboardLogo"]{
    position: relative;
    top: 12px;
    left: 23px;
    width: 24px;
    height: 24px;
}
#homeDashboardText {
    position: relative;
    width: 58px;
    height: 18px;
    margin-left: 6px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}
#carsDashboard {
    position: absolute;
    top: 134px;
    background-color: aqua;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.3);

}
img[alt="carsDashboardLogo"] {
    position: relative;
    top: 12px;
    left: 23px;
    width: 24px;
    height: 24px;
}
#carsDashboardText {
    position: relative;
    width: 58px;
    height: 18px;
    margin-left: 6px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}
#upperSearch {
    position: absolute;
    width: 1370px;
    height: 70px;
    background-color: #FFFFFF;
    top: 0px;
    left: 70px;
}
#upperSearchLogo {
    position: absolute;
    width: 100px;
    height: 34px;
    left: 24px;
    top: 18px;
    background-color: #cfd4ed;
}
img[alt="upperSearchMenu"] {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 23px;
    left: 245px;
}
#searchTop {
    position: absolute;
    width: 174px;
    height: 36px;
    left: 934px;
    top: 17px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}
img[alt="upperSearchLogo"] {
    position: absolute;
    top: 30px;
    left: 944px;
}
#searchSubmit {
    width: 70px;
    height: 36px;
    position: absolute;
    left: 1110px;
    top: 21px;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}
#upperSearchUser {
    position: absolute;
    width: 143px;
    height: 38px;
    top: 20px;
    left: 1203px;
}
#userName {
    position: relative;
    width: 70px;
    height: 20px;
    top: -29px;
    left: 46px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #151515;
    white-space: nowrap;
}
img[alt="upperSearchArrow"] {
    position: absolute;
    width: 12px;
    height: 6px;
    top: 18px;
    margin-left: 125px;
}
#collapseSamping {
    position: absolute;
    width: 220px;
    height: 832px;
    top: 70px;
    left: 70px;
    background-color: rgba(255, 255, 255, 0.9);
}
#titleMainMenu {
    position: absolute;
    top: 24px;
    width: 100%;
    height: 42px;
    background-color: white;
}
#titleCaption {
    position: absolute;
    width: 37px;
    height: 20px;
    top: 9px;
    left: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #8a8a8a;

}
#listMenu {
    position: absolute;
    top: 74px;
    width: 100%;
    height: 42px;
    background-color: #cfd4ed;
}
#menuCaption {
    position: absolute;
    white-space: nowrap;
    width: 37px;
    height: 20px;
    top: 9px;
    left: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
}
#breadCrumb {
    position: absolute;
    width: 300px;
    height: 18px;
    top: 102px;
    left: 315px;
    gap: 4px;
}
#breadCrumbCar {
    width: 26px;
    height: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    position: absolute;
    top: 0px;
    font-weight: 700;
}
img[alt="breadCrumbArrow"] {
    width: 4px;
    height: 8px;
    top: 6px;
    left: 36px;
    position: absolute;
}
#breadCrumbListCar {
    position: absolute;
    width: 41px;
    height: 18px;
    left: 50px;
    white-space: nowrap;
    font-weight: 700;
    color: black;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 18px;
    color: #222222;
}
#breadCrumbAddNewCar {
    position: absolute;
    white-space: nowrap;
    margin-top: 1px;
    width: 71px;
    height: 18px;
    left: 117px;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #222222;
}
img[alt="breadCrumbArrow2"] {
    position: absolute;

    width: 4px;
    height: 8px;
    top: 6px;
    margin-left: 103px;
}
#freeAddNewCar {
    position: absolute;
    left: 315px;
    white-space: nowrap;
    top: 149px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 72px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
#addNewCarButton {
    position: absolute;
    width: 140px;
    height: 36px;
    top: 150px;
    left: 1274px;
    background-color: #0D28A6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 1000;
}
#upFrame {
    position: absolute;
    width: 290px;
    height: 36px;
    top: 201px;
    left: 315px;
}
.buttonUpside {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #aeb7e1;
    height: 100%;
    margin-left: 12px;
}
#buttonAll {
    width: 42px;
    background-color: #cfd4ed;
    border: 1px solid #0D28A6;
    box-sizing: border-box;
    margin-left: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}
#buttonSmall {
    width: 62px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #aeb7e1;
}
#buttonMedium {
    width: 77px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #aeb7e1;
}
#buttonLarge {
    width: 61px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #aeb7e1;
}
#cardCollection {
    position: absolute;
    width: 1101px;
    height: 1386px;
    top: 261px;
    left: 315px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    background-color: rebeccapurple;
}
#formCar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 16px;
    position: absolute;
    width: 1100px;
    height: 242px;
    left: 315px;
    top: 193px;
    background: #FFFFFF;
    border-radius: 2px;
}
.name {
    display: flex;
    position: relative;
    width: 494px;
    height: 36px;
    align-items: center;
    top: 10px;
    left: 16px;
    color: #3c3c3c;
    align-content: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.firstCol{
    width: 147px;
    height: 36px;
    position: relative;
    white-space: nowrap;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    top: 9px;
}
#searchCarName {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    width: 339px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}
.rentPerDay {
    display: flex;
    position: relative;
    width: 494px;
    height: 36px;
    align-items: center;
    top: 16px;
    left: 16px;
    color: #3c3c3c;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.size {
    display: flex;
    position: relative;
    width: 494px;
    height: 36px;
    align-items: center;
    top: 16px;
    left: 16px;
    color: #3c3c3c;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.photo {
    display: flex;
    position: relative;
    width: 494px;
    height: 36px;
    align-items: center;
    top: 16px;
    left: 16px;
    color: #3c3c3c;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
#underPhotoCaption {
    position: absolute;
    width: 339px;
    height: 14px;
    left: 16px;
    top: 210px;

    font-family: 'Rubik';
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;

    color: #8A8A8A;
    margin-left: 160px;
    margin-top: 8px;
}
.containerSubmit {
    display: flex;
    flex-flow: row nowrap;
    width: 142px;
    height: 36px;
    position: absolute;
    top: 672px;
    left: 0px;

}
#cancel {
    position: absolute;
    width: 69px;
    height: 36px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    box-sizing: border-box;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    color: #0D28A6;
}
#save {
    justify-content: center;
    text-align: center;
    align-items: center;

    position: absolute;
    width: 56px;
    height: 36px;
    left: 75px;
    top: 0px;

    background-color: #0D28A6;
    border-radius: 2px;

    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}