body {
    background-color: #e5e5e5;
}
#navbarCollapse {
    position: absolute;
    width: 70px;
    height: 902px;
    left: 0%;
    right: 75.86%;
    top: 0%;
    bottom: 0%;
    background: #0D28A6;
}
#topCornerLogo {
    width: 34px;
    position: absolute;
    height: 34px;
    background-color: #cfd4ed;
    top: 18px;
    left: 18px;
}
#homeDashboard {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 64px;

}
img[alt="homeDashboardLogo"]{
    position: relative;
    top: 12px;
    left: 23px;
    width: 24px;
    height: 24px;
}
#homeDashboardText {
    position: relative;
    width: 58px;
    height: 18px;
    margin-left: 6px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}
#carsDashboard {
    position: absolute;
    top: 134px;
    background-color: aqua;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.3);

}
img[alt="carsDashboardLogo"] {
    position: relative;
    top: 12px;
    left: 23px;
    width: 24px;
    height: 24px;
}
#carsDashboardText {
    position: relative;
    width: 58px;
    height: 18px;
    margin-left: 6px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}
#upperSearch {
    position: absolute;
    width: 1370px;
    height: 70px;
    background-color: #FFFFFF;
    top: 0px;
    left: 70px;
}
#upperSearchLogo {
    position: absolute;
    width: 100px;
    height: 34px;
    left: 24px;
    top: 18px;
    background-color: #cfd4ed;
}
img[alt="upperSearchMenu"] {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 23px;
    left: 245px;
}
#searchTop {
    position: absolute;
    width: 174px;
    height: 36px;
    left: 934px;
    top: 17px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}
img[alt="upperSearchLogo"] {
    position: absolute;
    top: 30px;
    left: 944px;
}
#searchSubmit {
    width: 70px;
    height: 36px;
    position: absolute;
    left: 1110px;
    top: 21px;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}
#upperSearchUser {
    position: absolute;
    width: 143px;
    height: 38px;
    top: 20px;
    left: 1203px;
}
#userName {
    position: relative;
    width: 70px;
    height: 20px;
    top: -29px;
    left: 46px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #151515;
    white-space: nowrap;
}
img[alt="upperSearchArrow"] {
    position: absolute;
    width: 12px;
    height: 6px;
    top: 18px;
    margin-left: 125px;
}
.cssNewElement {
    padding: 12px 16px;
    position: absolute;
    width: 550px;
    height: 48px;
    left: 591px;
    top: 100px;
    background: #73CA5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.cssNewTampilanHapus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;
    position: absolute;
    width: 387px;
    height: 333px;
    left: 527px;
    top: 580px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
#collapseSamping {
    position: absolute;
    width: 220px;
    height: 832px;
    top: 70px;
    left: 70px;
    background-color: rgba(255, 255, 255, 0.9);
}
#titleMainMenu {
    position: absolute;
    top: 24px;
    width: 100%;
    height: 42px;
    background-color: white;
}
#titleCaption {
    position: absolute;
    width: 37px;
    height: 20px;
    top: 9px;
    left: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #8a8a8a;

}
#listMenu {
    position: absolute;
    top: 74px;
    width: 100%;
    height: 42px;
    background-color: #cfd4ed;
}
#menuCaption {
    position: absolute;
    white-space: nowrap;
    width: 37px;
    height: 20px;
    top: 9px;
    left: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
}
#breadCrumb {
    position: absolute;
    width: 91px;
    height: 18px;
    top: 102px;
    left: 315px;
    gap: 4px;
}
#breadCrumbCar {
    width: 26px;
    height: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    position: absolute;
    top: 0px;
    font-weight: 700;
}
img[alt="breadCrumbArrow"] {
    width: 4px;
    height: 8px;
    top: 6px;
    left: 36px;
    position: absolute;
}
#breadCrumbListCar {
    position: absolute;
    width: 41px;
    height: 18px;
    left: 50px;
    top: 0px;
    white-space: nowrap;
    font-weight: 300;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #222222;
}
#freeListCar {
    position: absolute;
    left: 315px;
    top: 147px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 72px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
#addNewCarButton {
    position: absolute;
    width: 140px;
    height: 36px;
    top: 150px;
    left: 1274px;
    background-color: #0D28A6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 1000;
}
#upFrame {
    position: absolute;
    width: 290px;
    height: 36px;
    top: 201px;
    left: 315px;
}
.buttonUpside {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #aeb7e1;
    height: 100%;
    margin-left: 12px;
}
#buttonAll {
    width: 42px;
    background-color: #cfd4ed;
    border: 1px solid #0D28A6;
    box-sizing: border-box;
    margin-left: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}
#buttonSmall {
    width: 62px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #aeb7e1;
}
#buttonMedium {
    width: 77px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #aeb7e1;
}
#buttonLarge {
    width: 61px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #aeb7e1;
}
#cardCollection {
    position: absolute;
    width: 1101px;
    height: 1386px;
    top: 261px;
    left: 315px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
}
.listCard {
    padding: 24px;
    position: relative;
    width: 351px;
    height: 446px;
    white-space: nowrap;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
img[alt="carImage"] {
    position: absolute;
    width: 270px;
    height: 160px;
    left: 40px;
    top: 55px;
}
#nameTypeCar {
    position: absolute;
    width: 303px;
    height: 20px;
    left: 24px;
    top: 262px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
#priceCar {
    position: absolute;
    width: 303px;
    height: 24px;
    left: 24px;
    top: 290px;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
#updateTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 303px;
    height: 20px;
    left: 24px;
    top: 330px;
}
#captionUpdated {
    margin-left: 9.67px;
}
#rowButton {
    position: absolute;
    top: 374px;
    left: 24px;
    width: 303px;
}
#deleteButton {
    width: 143.5px;
    height: 48px;
    border: none;
}
#editButton {
    width: 143.5px;
    height: 48px;
    border: none;
    margin-left: 16px;

}